@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins' sans-serif;
}

/* img{
    width: 100%;
    height: auto;
    transition: .3s ease all;
    -webkit-transition: .3 ease all;
    -moz-transition: .3 ease all;
    -ms-transition: .3 ease all;
    -o-transition: .3 ease all;  
}

img:hover{
  scale: 102%;
} */

/* tambahkan ke file CSS global atau modul CSS */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gradient{
  background: rgb(39,27,255);
  background: linear-gradient(90deg, rgba(39,27,255,1) 0%, rgba(0,89,181,1) 35%, rgba(0,212,255,1) 100%);
}

@layer base {
    body {
      @apply text-lg leading-8 text-white  bg-responsive lg:bg-main bg-fixed bg-cover bg-no-repeat;
    }
    .btn {
      @apply text-white font-medium;
    }
    .btn-sm {
      @apply h-[40px] px-2 text-sm;
    }
    .btn-medium {
      @apply h-[48px] w-full px-2 text-sm;
    }
    .btn-link {
      @apply text-base;
    }
    .section {
      @apply py-8 lg:py-24 lg:h-screen flex items-center;
    }
  }
  